:host {
  height: 100%;

  ::ng-deep .mat-form-field-underline {
    display: none !important;
  }

  ::ng-deep .mat-fab {
    background-color: white;
  }

  ::ng-deep .mat-icon.mat-primary {
    color: #646464;
  }

  .full-height {
    height: 100%;
  }

  .full-width {
    width: 100%;
  }

  .tab-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3;
  }

  .colorful {
    background:
      -webkit-linear-gradient(315deg, hsla(351.55, 91.82%, 42.86%, 1) 0%, hsla(351.55, 91.82%, 42.86%, 0) 70%),
      -webkit-linear-gradient(65deg, hsla(41.87, 97.1%, 41.33%, 1) 10%, hsla(41.87, 97.1%, 41.33%, 0) 80%),
      -webkit-linear-gradient(135deg, hsla(327.49, 90.68%, 44.73%, 1) 15%, hsla(327.49, 90.68%, 44.73%, 0) 80%),
      -webkit-linear-gradient(205deg, hsla(24.33, 95.84%, 43.7%, 1) 100%, hsla(24.33, 95.84%, 43.7%, 0) 70%);
    background:
      linear-gradient(135deg, hsla(351.55, 91.82%, 42.86%, 1) 0%, hsla(351.55, 91.82%, 42.86%, 0) 70%),
      linear-gradient(25deg, hsla(41.87, 97.1%, 41.33%, 1) 10%, hsla(41.87, 97.1%, 41.33%, 0) 80%),
      linear-gradient(315deg, hsla(327.49, 90.68%, 44.73%, 1) 15%, hsla(327.49, 90.68%, 44.73%, 0) 80%),
      linear-gradient(245deg, hsla(24.33, 95.84%, 43.7%, 1) 100%, hsla(24.33, 95.84%, 43.7%, 0) 70%);
  }

  .sidebar {
    background: #312450;
    font-size: 0.65em;
  }

  .nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }

  .nav ul {
    list-style: none;

    li {
      position: relative;
      margin: 3.2em 0;
      line-height: 3.2rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#ffffff, 0.35);
      display: block;

      & > span {
        color: rgba(#ffffff, 0.35);
        transition: all ease-out 300ms;
        margin-right: 1rem;
        display: inline-block;
      }

      & > span:hover {
        color: rgba(#FFF, 0.75);
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.1em;
        left: 0;
        bottom: -1rem;
        background: black linear-gradient(to right, #5e42a6, #b74e91);
      }
    }
  }

  .square {
    height: 22px;
    width: 22px;
    cursor: pointer;
    position: relative;
    outline: none;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }

  .picker {
    position: fixed;
    width: 200px;
    right: -5rem;
    z-index: 3;
    top: 3rem;
  }

  .bottom {
    position: relative;
    //bottom: 0.3rem;
  }

  .input {
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  .slider {
    text-transform: none;
    letter-spacing: normal;
  }

  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    .nav ul li {
      margin: 1.5em 0;
      &::after {
        bottom: 0;
      }
    }
  }

  @media screen and (max-width: 1279px) {
    .nav ul li {
      margin: 0;
      &::after {
        bottom: 0;
      }
    }
  }

  @media screen and (max-width: 959px) {
    aside {
      display: none !important;

      &.sidebar.active {
        display: inherit !important;
        flex: 1 1 150% !important;
      }
    }
    .nav ul li {
      &::after {
        bottom: 0;
      }
    }
  }

  @media screen and (min-width: 960px) {
    .tab-button {
      display: none;
    }
    .nav ul li {
      &::after {
        bottom: 0;
      }
    }
  }

  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .nav ul {
      padding: 0;
      li {
        letter-spacing: 0.1rem;
        line-height: 2rem;
      }
    }
  }

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .nav ul {
      padding: 0;
      li {
        letter-spacing: 0.1rem;
        line-height: 2rem;
      }
    }
  }
}

