:host {
  .auth-height {
    height: 100%;
  }

  .border-box {
    border: 1px solid #dadce0;
    border-radius: 8px;
    position: relative;
    overflow: auto;
  }

  @media (max-width: 601px) {
    .auth-height {
      overflow: hidden;
    }
  }

  @media (max-height: 800px) {
    .auth-height {
      overflow: hidden;
    }
  }
}

.box {
  width: 450px;
  min-height: 650px;
}

.logo {
  width: 60px;
}

.padding-box {
  padding: 48px 40px 36px;
}

.link {
  color: #0984e3;
  text-decoration: none !important;
}

@media (max-width: 720px) {
  .border-box {
    border: none !important;
  }
}

@media (max-width: 601px) {
  .box {
    width: 100vw;
    min-height: 500px;
  }
}

@media (max-height: 800px) {
  .box {
    min-height: 550px;
  }

  .border-box {
    border: none !important;
  }
}

@media (max-height: 620px) {
  .box {
    min-height: 450px;
  }
}
