<div class="full-height" fxLayout="row">
  <a href="https://github.com/kKen94/ngx-progress">
    <img class="github-mark" [src]="env.production ? 'assets/github-mark.png' : '../assets/github-mark.png'" alt="github">
  </a>
  <aside class="sidebar full-height full-width animated slideInLeft" style="animation-duration: 100ms;" fxLayout="column" fxFlex="30" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="150" fxFlex.xs="150">
    <nav class="nav">
      <ul>
        <li>
          <span>enabled</span>
          <mat-slide-toggle [ngModel]="progress.isEnable" (toggleChange)="progress.isEnable ? progress.disable() : progress.enable()"></mat-slide-toggle>
        </li>
        <li>
          <span>show overlay</span>
          <mat-slide-toggle [(ngModel)]="overlay"></mat-slide-toggle>
        </li>
        <li>
          <span>overlay value</span>
          <mat-form-field>
            <input matInput class="input" type="number" max="1" min="0" step="0.1" [(ngModel)]="overlayValue">
          </mat-form-field>
        </li>
        <li>
          <span>show spinner</span>
          <mat-slide-toggle [(ngModel)]="showSpinner"></mat-slide-toggle>
        </li>
        <li>
          <span>show bar</span>
          <mat-slide-toggle [(ngModel)]="showBar"></mat-slide-toggle>
        </li>
        <li>
          <span>indeterminate</span>
          <mat-slide-toggle [(ngModel)]="indeterminate"></mat-slide-toggle>
        </li>
        <li>
          <span class="bottom">color</span>
          <div class="square" [style.background-color]="color" (click)="showPicker = !showPicker;"></div>
          <color-block class="picker" *ngIf="showPicker" [triangle]="'hide'" [color]="color" (onChangeComplete)="changeColor($event)"></color-block>
        </li>
        <li>
          <span>bar Height</span>
          <mat-form-field>
            <input matInput class="input" [(ngModel)]="barHeight">
          </mat-form-field>
        </li>
        <li>
          <span>spinner diameter</span>
          <mat-form-field>
            <input matInput class="input" [(ngModel)]="spinnerDiameter">
          </mat-form-field>
        </li>
        <li>
          <span>initial value</span>
          <mat-slider
            class="slider"
            [max]="100"
            [min]="1"
            [thumbLabel]="true"
            [tickInterval]="0"
            [(ngModel)]="initialValue">
          </mat-slider>
        </li>
        <li>
          <span>spinner speed</span>
          <mat-slider
            class="slider"
            [max]="10"
            [min]="1"
            [thumbLabel]="true"
            [tickInterval]="0"
            [(ngModel)]="spinnerSpeed">
          </mat-slider>
        </li>
      </ul>
    </nav>
  </aside>
  <button mat-fab class="tab-button" aria-label="Settings" (click)="toggleMenu()">
    <mat-icon color="primary">build</mat-icon>
  </button>
  <div class="full-height" style="position: relative;" fxFlex="70" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <ngx-progress
      [showSpinner]="showSpinner"
      [color]="color"
      [barHeight]="barHeight"
      [initialValue]="initialValue"
      [overlay]="overlay"
      [overlayValue]="overlayValue"
      [showBar]="showBar"
      [indeterminate]="indeterminate"
      [spinnerDiameter]="spinnerDiameter"
      [spinnerSpeed]="spinnerSpeed"></ngx-progress>
    <div class="full-height" fxLayout="column" fxLayoutAlign="center center">
      <button mat-flat-button color="primary" style="margin-bottom: 1rem;" (click)="progress.start()"><span style="color: #ffffff;">Start</span></button>
      <button mat-flat-button color="primary" style="margin-bottom: 1rem;" (click)="progress.end()"><span style="color: #ffffff;">Complete</span></button>
      <button mat-flat-button color="accent" (click)="fakeRequest()"><span style="color: #ffffff;">Fake 3sec HTTP</span></button>
    </div>
  </div>
</div>
