@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #5e42a6;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

a, p, span {
  color: #262626;
  text-decoration: none !important;
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
  background-color: #ff4081 !important;
}

.mat-form-field-infix {
  width: 40px !important;
}

color-block-swatches {
  display: none !important;
}
